content_t {
	color: #1A1A1A;
}

navitem_bh {
	background-color: #847E7A;
}

navitem_t {
	color: #FFFFFF;
}

navitem_th {
	color: #000000;
}

header_b {
	background-color: #333333;
}

footer_b {
	background-color: #1A1A1A;
}

navitem_b {
	background-color: #9D8A7B;
}

sidebar_b {
	background-color: #D9BFA4;
}

content_b {
	background-color: #D6B193;
}

header_t {
	color: #FFFFFF;
}

